<div id="server-settings" class="settings-page">
  <h2 id="tc-display-name-header"><i class='fa fa-server'></i><span id="tc-display-name-header-text">{{displayName}}</span></h2>
  <form action="#" id="update-server-form" name="add-server-form" class="col-sm-6">
    <input type="hidden" name="tc-original-display-name" class="tc-original-display-name" value="{{displayName}}" required/>
    <div class="form-row">
      <input type="text" name="tc-display-name" class="tc-display-name" placeholder="Display Name" value="{{displayName}}" required/>
    </div>
    <div class="form-row">
      <input type="url" name="tc-url" class="tc-url" placeholder="TeamCity URL" value="{{url}}" required/>
    </div>
    <div class="form-row">
      <input type="text" name="tc-user" class="tc-user" placeholder="Username" value="{{username}}" required/>
    </div>
    <div class="form-row">
      <input type="password" name="tc-pass" class="tc-pass" placeholder="Password" value="{{password}}" required/>
    </div>
    <input type="submit" name="update-server-submit" id="update-server-button" value="Update Server" />
    <span class="messages"></span>
  </form>
  <div id="server-projects" class="col-sm-6">
    <h3 id="projects-header">Projects</h3>
    <p class="tag-line">Choose the projects and builds that you want to appear on the dashboard...</p>
    <div id="projects-and-builds-list-container"></div>
  </div>
</div>